<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <div id="loginbackground">
        <nav id="loginnav">
            <ul>
                <a href="{{url_for('home')}}">Home</a>
                <a href="">Contact us</a>
                <a href="">Email us</a>
                <a href="{{url_for('home3')}}">prediction page</a>
            </ul>
        </nav>
        <form action="" id="loginform">
            <a class="l" href="{{url_for('home1')}}">Login </a>OR
            <!-- <h3>Or</h3> -->
            <a class="l" href="">Register</a><br><br><br>
            User name : <br><input type="text" placeholder="Create user id" class="col"><br><br>

            Password : <br><input type="password" placeholder="Create password" class="col"><br><br>
            Confirm Password : <br><input type="password" placeholder="Confirm your password" class="col"><br><br>
            <input type="submit" value="Register" >

        </form>

    </div>
</body>
</html>