<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Milk nutrition comparison</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <div id="background">
        <nav>
            <div id="logo">
                <!-- <img src="../static/image/yray_1iyc_221025.jpg" alt="" height="40px" width="40px"> -->
            </div>
            <ul id="ul">
                
                <a class="link"  href="{{url_for('home')}}">HOME</a>
                
                <a class="link"  href="{{url_for('login')}}">Login</a>
                
                <a class="link"  href="{{url_for('reg')}}">Register</a>
                <a id="next" class="link" href="{{url_for('check')}}">Next Prediction </a>
            
            </ul>
        </nav>
        <h1>Milk Nutrition Comaprison</h1>
        <ul id="content">
            <li><h3>There are a lot of people who like to use alternative types of milk, such as almond or oat milk. </h3></li>
            <li><h3>Here is the nutrition comparison (serving size: 240mL) between all the major types of milk that you can easily find everywhere.</h3></li>
            <li><h3>Types of milk: whole milk, 1% low fat milk, soy milk, almond milk, oat milk, cashew milk, and coconut milk.</h3></li>
        </ul>
    </div>
    
</body>
</html>