<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <div id="background">
        <nav>
            <ul id="ul">
                <a class="link" href="">Home</a>
                <!-- <a class="link" href="">About us</a>
                <a class="link" href="">Contact us</a> -->
                <a class="link" href="{{url_for('reg')}}">Register</a>
                <a class="link" href="{{url_for('login')}}">Login</a>
                <a class="link" href="{{url_for('check')}}">prediction page</a>
            </ul>
        </nav>
        <h1>Petrol/Gas Price World wide</h1>
        <div id="content">
            <ul>
                <li><h3>It contains world share of petrol consumption by country, price per gallon, price per litter and the corresponding price in Pakistan Rupee (Conversion Rate 1 USD = 211.5 PKR)  </h3></li>
                <li><h3> The average price of gasoline around the world is 1.29 U.S. Dollar per litre. However, there is substantial difference in these prices among countries.</h3></li>
                <li><h3> he average price of gasoline around the world is 1.29 U.S. Dollar per litre. However, there is substantial difference in these prices among countries.  </h3></li>
            </ul>
        </div>
    </div>
</body>
</html>