#background{
    background-image: url(../image/milk.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
}

nav{
    width: 100%;
    height: 70px;
    line-height: 75px;
    /* position: fixed; */
    background-color: burlywood;
}
#ul{
   float: left;
   margin-right: 70px;
   text-transform: uppercase;
   padding-bottom: 100px;
   margin-top: -7px;
}
h1{
    text-align: center;
    padding-top: 200px;
    color: yellow;
}
a{
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 1cm;
    color: white;
    padding-bottom: 50px;
}
a:hover {
    color: yellow;
    
}
#next{
    float: right;
    
}
#content{
    margin-left: 200px;
    margin-top: 60px;
    color: white;
}
#form{
    text-align: center;
    margin-top: 150px;
    border-style: solid;
    border-color: grey;
    
    margin-left: 220px;
    margin-right: 220px;
    background-color: grey;
}
#result{
    background-image: url(../image/milk\ nutrition\ comparison.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
}
#head{
    text-align: center;
    padding-top: 250px;
    color: white;
    font-weight: 600;
    
}
#div1{
    width: 40%;
    float: left;
    /* margin-right: ; */
    padding-left: 100px;
}
#div2{
    width: 40%;
    float: left;
    /* margin-right: 2%; */
    /* padding-left: 200px; */
}
#head3{
    /* text-align: center; */
    margin-left: 200px;
    margin-bottom: 100px;
}
#background3{
    background-image: url(../image/milk\ nutrition\ comparison.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
    /* margin-bottom: 5%;
    padding-top : 80px; */
    /* padding-left: 100px; */
}
#submit3{
    margin-right: 300px;
}
#form3{
    margin-top: 100px;
}